<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>♫ BAND TEASE ♫</title>
</head>
<body>

    <header>

        <!-- Header containing logo and Nav Bar -->
        <!-- <div id="logo-container"><a href="/"><img src="static/images/logo.png" alt="logo" /></a></div> -->
        <div id="logo-container"><a href="/"><img src="https://cdn.shopify.com/s/files/1/0363/1393/files/logo_39a03e3c-6ec4-49d0-8305-5dd80265cb51.png?v=1623795176" alt="logo" /></a></div>

        
        
        <div class="nav">
            <a href="/" class="active">HOME</a>
            <a href="/bands" class="active">BAND TEES</a>
            <a href="/bands/new" class="active">ADD NEW</a>

        </div>
        

        

    </header>
    <main>
        {% block content %}


        {% endblock%}


    </main>
</body>
</html>






