<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>♫ BAND TEASE ♫</title>
</head>
<body>

    <header>

        <!-- Header containing logo and Nav Bar -->
        <div id="top-header">
            <!-- logo -->
        <div id="logo">
            <img src="https://cdn.shopify.com/s/files/1/0363/1393/files/BAND_TEASE_copy.png?v=1623441994"/>
        </div>

        <!-- Nav Bar -->
        <nav>
            <ul>
                
                <a href="/">HOME</a> | <a href="/bands">BANDS</a> | <a href="/bands/new">NEW</a> 
                
            </ul>
        </nav>

        </div>

    </header>
    <main>
        {% block content %}


        {% endblock%}


    </main>
</body>
</html>






