<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>♫ BAND TEASE ♫</title>
</head>
<body>

    <header>

        <!-- Header containing logo and Nav Bar -->
        <div id="top-header">
            <!-- logo -->
        <div id="logo">
            <img src="https://cdn.shopify.com/s/files/1/0363/1393/files/BAND_TEASE.png?v=1623337218"/>
        </div>

        <!-- Nav Bar -->
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/bands">BAND TEES</a></li>
                <li><a href="/wardrobe">MY WARDROBE</a></li>
            </ul>
        </nav>

        </div>

    </header>
    
</body>
</html>






