{% extends "base.html" %}
{% block content %}
<div class="update-band">
  <br>
  <p><h1>EDIT BAND</h1></p>

  <form action="/bands/{{band.id}}" method="post">
    <div>
      <label for="band_name">Band Name:</label>
      <input type="text" id="band_name" name="band_name" value="{{band.band_name}}" required autofocus>
    </div>
    <br>
    <div>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="{{band.genre}}" required>
    </div>
    <br>
    <div>
      <label for="favourite_song">Favourite Song:</label>
      <input type="text" id="favourite_song" name="favourite_song" value="{{band.favourite_song}}" required>
    </div>
    <br>
    <div>
      <label for="favourite_album">Favourite Album:</label>
      <input type="text" id="favourite_album" name="favourite_album" value="{{band.favourite_album}}" required>
    </div>
    <br>
    <div>
      <label for="fun_fact">Fun Fact:</label>
      <input type="text" id="fun_fact" name="fun_fact" value="{{band.fun_fact}}" required>
    </div>
    <br>

    <div>
      <label for="user">Worn by:</label>
      <select id="user" name="user_id">
        {% for user in all_users %}
          <option value="{{ user.id }}"
            {% if band.user.id== user.id %} selected="selected"{% endif %}>
            {{ user.first_name }}
          </option>
          
        {% endfor %}

      </select>
    </div>
    <br>
    <button type="submit">Update Band</button>

  </form>
  <br>
 </div> 


{% endblock %}