{% extends "base.html" %}
{% block content %}
<!-- div class="band-container"> -->
<div class="band-container">
{% for band in bands %}  
    <!-- <div class="band"> -->
    <div class="band">
      
        <h1><a href="/bands/{{band.id}}">{{band.band_name}}</a></h1>
        <h3>Worn by {{band.user.first_name}}</h3>
    

      <div class="buttons">

        <form class="delete-form" action="/bands/{{band.id}}/delete" method="POST">
          <button class="trash-button">DELETE<i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>

        
      </div>
      
      <!-- show image of t shirt under band name in /bands -->
        <img src="static/images/{{ band.tee_image }}" alt={{ band.band_name }} width="300" height="300"/>


      </div>
{% endfor %}
</div>
  


      


  

    
    

          





{% endblock %}  
