{% extends "base.html" %}
{% block content %}

{% for band in bands %}
  <div class="band">
    <div class="content">
      {{band.user.first_name}}
      <div class="band_name">
        <a href="/bands/{{band.id}}">{{band.band_name}}</a>
      </div>

      <div class="buttons">

        <form class="delete-form" action="/bands/{{band.id}}/delete" method="POST">
          <button class="trash-button">DELETE<i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>

        
      </div>

      <!-- show image of t shirt under band name in /bands -->
        <img src="static/images/{{ band.tee_image }}" alt={{ band.band_name }} width="500" height="500"/>

      
    </div>
  </div>
{% endfor %}

      


  

    
    

          





{% endblock %}  
